Repository luismayta/emacs.d: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

ci(deps): Update dependency prettier-eslint to v13
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency ts-node to ^10.2.1
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency @types/rimraf to ^3.0.2
  package.json
  yarn.lock
Due: prettier

ci(deps): Lock file maintenance
  yarn.lock
Due: none

refactor: lints code configuration pre-commit (#347)
  .github/linters/.gitleaks.toml
  .github/linters/markdown-link-config.json
  .github/semantic.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: prettier

feat: clean files unnecessary (#347)
  .nvmrc
  .tmuxinator.yml
  package.json
  provision/git/hooks/prepare-commit-msg
  setup.cfg
  yarn.lock
Due: prettier

refactor: actions make (#347)
  Makefile
  provision/make/docker.mk
  provision/make/git.mk
  provision/make/gitflow.mk
  provision/make/python.mk
  provision/make/utils.mk
Due: none

fix: name functions messages (#347)
  install.sh
Due: none

feat: change badges github actions (#347)
  provision/generators/README.yaml
Due: prettier

style: format configuration (#347)
  .editorconfig
Due: none

build: generate readme (#347)
  README.md
Due: prettier

ci: delete provision/make/git.mk
  provision/make/git.mk
Due: none

build: clean .github/semantic.yml
  .github/semantic.yml
Due: prettier

Delete .github/renovate.json
  .github/renovate.json
Due: prettier

Delete .github/ISSUE_TEMPLATE/general_issue.md
  .github/ISSUE_TEMPLATE/general_issue.md
Due: prettier

ci: clean provision/make/python.mk
  provision/make/python.mk
Due: none

Delete .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

Delete .github/stale.yml
  .github/stale.yml
Due: prettier

ci: clean .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: prettier

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

Delete provision/make/yarn.mk
  provision/make/yarn.mk
Due: none

Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Delete .github/linters/.eslintrc.js
  .github/linters/.eslintrc.js
Due: prettier, eslint

Delete .github/linters/prettier.config.js
  .github/linters/prettier.config.js
Due: prettier, eslint

Delete .github/linters/.commitlintrc.json
  .github/linters/.commitlintrc.json
Due: prettier

ci: implement pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

ci: upgrade mailmap github
  .mailmap
Due: none

build: refactor prettier config
  .github/linters/prettier.config.js
Due: prettier, eslint

ci: implement action make yarn
  provision/make/yarn.mk
Due: none

ci: implement renovate configuration
  .github/renovate.json
Due: prettier

ci: implement issue template feature request
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

ci: implement issue template bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

ci: implement action make python
  provision/make/python.mk
Due: none

ci: implement lint code github actions
  .github/workflows/lint.yml
Due: prettier

ci: implement stale configuration for github
  .github/stale.yml
Due: prettier

build: refactor lint code with eslint
  .github/linters/.eslintrc.js
Due: prettier, eslint

ci: implement template semantic github
  .github/semantic.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
