Repository luismayta/emacs.d: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Delete provision/make/yarn.mk
  provision/make/yarn.mk
Due: none

Delete .github/linters/.eslintrc.js
  .github/linters/.eslintrc.js
Due: prettier, eslint

Delete .github/linters/.commitlintrc.json
  .github/linters/.commitlintrc.json
Due: prettier

Delete .github/linters/prettier.config.js
  .github/linters/prettier.config.js
Due: prettier, eslint

ci: implement pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

ci: upgrade mailmap github
  .mailmap
Due: none

build: refactor prettier config
  .github/linters/prettier.config.js
Due: prettier, eslint

ci: implement action make yarn
  provision/make/yarn.mk
Due: none

ci: implement renovate configuration
  .github/renovate.json
Due: prettier

ci: implement issue template feature request
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

ci: implement issue template bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

ci: implement lint code github actions
  .github/workflows/lint.yml
Due: prettier

ci: implement action make python
  provision/make/python.mk
Due: none

ci: implement stale configuration for github
  .github/stale.yml
Due: prettier

ci: implement template semantic github
  .github/semantic.yml
Due: prettier

build: refactor lint code with eslint
  .github/linters/.eslintrc.js
Due: prettier, eslint

ci: implement action make git
  provision/make/git.mk
Due: none

ci: implement issue template general
  .github/ISSUE_TEMPLATE/general_issue.md
Due: prettier

ci: implement hooks prepare commit msg
  provision/git/hooks/prepare-commit-msg
Due: none

build: refactor lint commmits
  .github/linters/.commitlintrc.json
Due: prettier

ci(deps): Update dependency typescript to ^4.3.5
  package.json
  yarn.lock
Due: prettier

ci(deps): Update Node.js to v14.17.5
  .nvmrc
  package.json
Due: prettier

ci(deps): Update linters
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency @types/handlebars-helpers to ^0.5.3
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency @types/rimraf to ^3.0.1
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency ts-node to ^10.2.0
  package.json
  yarn.lock
Due: prettier

ci(deps): Update linters to ^4.29.2
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency @commitlint/cli to v13
  package.json
  yarn.lock
Due: prettier

ci(deps): Update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
